*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}